* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Hero section */

/* .hero__section {
    background-image: url(./images/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-size: cover;
    height: 100vh;
    padding: 0 60px;
    color: #121212;
    overflow: hidden;
}

.hero__wrapper {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 820px;
}

.column__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;   
}

.column__left h1 {
    font-size: 90px;
}

.column__left p {
    font-size: 16px;
    line-height: 2.3;
}

.column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1100px) {
    .hero__section {
        padding: 30px;
    }

    .hero__wrapper {
        grid-template-columns: 1fr;
    }

    .column__left h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 468px) {
    .hero__wrapper {
        grid-template-rows: 600px;
    }

    .column__left h1 {
        font-size: 32px;
    }
} */

/* About Section */

.about__section {
    background: #f8f8ff;
    color: #141414;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
}

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about__container h1 {
    font-size: 110px;
    color: #f8f8f8;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #141414;
    margin-bottom: 32px;
}

.about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
}

.about__text {
    padding-right: 20px;
}

.about__text h2 {
    background-color: #f8f8ff;
    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 32px;
}

.about__text p {
    line-height: 2.3;
}

.about__text span {
    background-color: #00ffcd;
}

.about__image {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.about__img {
    width: 420px;
    height: 610px;
}

/* Media Queries for About Section */

@media screen and (min-width: 2000px) {
    .about__section {
        margin: auto 0;
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (max-width: 1200px) {
    .about__section {
        margin: auto 0;
        padding: 10%;
    }

    .about__content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .about__image {
        margin-top: 40px;
    }

    .about__container h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 468px) {
    .about__text h2 {
        font-size: 32px;
    }

    .about__img {
        width: 100%;
        height: 100%;
    }
}

/* Work section */

.work__container {
    background: #141414;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 20%;
    padding-right: 20%;
}

.work__container h1 {
    font-size: 50px;
    color: #f8f8f8;
    margin-bottom: 2%;
}

.work__container h2 {
    font-size: 16px;
    color:#f8f8f8;
    /* text-transform: uppercase; */
    margin-bottom: 50px;
}

.work__grid {
    margin: auto 0;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px;
    align-items: center;
    /* padding-left: 10%;
    padding-right: 10%; */
}

.work__grid article {
    background: #1b1b1b;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 10px;
    /* text-align: center; */
    width: 250px;
    transition: transform .3s;
}

.work__grid article:hover {
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}

.work__grid article img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__text {
    color:#f8f8f8;
    padding: 0 20px 20px;
}

.card__text h3 {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card__text button {
    background: #00ffcd;
    border: none;
    border-radius: 10px;
    color:#141414;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    font-weight: 600;
    text-transform: uppercase;
}

.card__text button:hover {
    background:#f8f8ff;
}

/* work Media Queries */

@media screen and (max-width: 1400px) {    
    .work__grid {
        grid-template-columns: repeat(3, 1fr);
        margin: auto 0;
    }
}

@media screen and (max-width: 1200px) {

    .work__grid {
        grid-template-columns: repeat(2, 1fr);
        margin: auto 0;
    }

}

@media screen and (max-width: 700px) {
    .work__grid {
        grid-template-columns: repeat(1, 1fr);
        margin: auto 0;
    }
}

@media screen and (max-width: 386px) {
    .work__grid {
        margin: auto 0;
    }
}

/* Green bar */

/* .green__bar {
    position: absolute;
    background: #00ffcd;
    height: 80px;
    bottom: -40px;
    right: 0;
    width: 80%;
    color: #141414;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.green__bar img {
    margin: 0 40px;
}

.green__bar p {
    margin-right: 40px;
    font-weight: 700;
    text-transform: uppercase;
} */

/* Portfolio */

.portfolio {
    background: #f0f7ee;
    color: #141414
}

.portfolio__container {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
}

.portfolio__container h1 {
    font-size: 110px;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #141414;
    margin-bottom: 32px;
}

.portfolio__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio__img {
    height: 100%;
    width: 100%;
}

.portfolio__right {
    padding: 150px 100px 0 20px;
}

.portfolio__right h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

.portfolio__right p {
    margin-bottom: 50px;
    line-height: 2.5;
}

.portfolio__right a {
    color: #141414;
    text-decoration: none;
}

.portfolio__projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px 64px;
}

.portfolio__projects img {
    padding: 0 8px;
    width: 100%;
    height: 100%;
}

/* Portfolio Media Queries */

@media screen and (max-width: 1368px) {
        .portfolio__projects {
        flex-direction: column;
        }
    }
    @media screen and (max-width: 1000px) {
        .portfolio {
        padding: 30px;
        }

        .portfolio__container h1 {
        font-size: 70px;
        }

        .portfolio__main {
        grid-template-columns: 1fr;
        }

        .portfolio__container {
        padding-left: 0px;
        }

        .portfolio__right {
        margin-bottom: 60px;
        }
    }

    @media screen and (max-width: 468px) {
        .portfolio {
        padding: 10px;
        }

        .portfolio__container h1 {
        font-size: 40px;
        }
    }

/* Contact */

.contact {
    display: flex;
    align-items: center;
    background: #141414;
    padding: 100px 0;
}

.contact__bar {
    background: #00ffcd;
    height: 80px;
    width: 68%;
    color: #141414;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact__bar img {
    margin-right: 40px;
}

.contact__bar p {
    margin-right: 40px;
    font-weight: 700;
}

.contact__bar span {
    margin-right: 40px;
}

.contact h1 {
    margin-left: 100px;
    font-size: 40px;
    color: #f8f8f8;
}

@media screen and (max-width: 768px) {
    .contact {
        flex-direction: column;
    }

    .contact__bar {
        width: 100%;
        justify-content: center;
    }

    .contact__bar img {
        margin-left: 16px;
        margin-right: 16px;
    }

    .contact__bar p {
        margin-right: 16px;
    }

    .contact__bar span {
        font-size: 16px;
    }

    .contact h1 {
        margin-left: 0;
        margin-top: 24px;
        font-size: 32px;
    }
    }

    .footer {
    background: #141414;
    color: #f8f8ff;
    }

    .footer__container {
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    }

    .footer__left {
    display: flex;
    flex-direction: column;
    }

    .footer__left h2 {
    margin-bottom: 24px;
    }

    .footer__left p {
    line-height: 2;
    }

    .footer__right {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    }

    .footer__right a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    }

    @media screen and (max-width: 1000px) {
    .footer__container {
        padding: 60px 24px;
        grid-template-columns: 1fr 1fr;
    }

    .footer__right {
        flex-direction: column;
    }
    }

    @media screen and (max-width: 468px) {
    .footer__right {
        padding: 0 16px;
    }
    }